#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/class/makefile.mk

DEB_MAKE_INVOKE = $(MAKE) -C utils

UVERS := $(shell dpkg-parsechangelog | sed -n 's/^Version: \(.*\)-.*/\1/p')

install/ndiswrapper-source::
	# Enforce executable bit on debian/rules, and create directory
	# structure for modules source
	install -D -m 0755 debian/rules.modules \
		debian/tmp/modules/ndiswrapper/debian/rules
	
	# Prepare the other debian stuff
	for f in *.modules.in control compat copyright changelog; do \
		install -m 0644 debian/$$f \
			debian/tmp/modules/ndiswrapper/debian/; \
	done
	
	# Prepare upstream source
	install driver/Makefile driver/*.[chS] debian/tmp/modules/ndiswrapper/
	
	# Prepare the debian source tarball
	tar jcf debian/ndiswrapper-source/usr/src/ndiswrapper-source.tar.bz2 \
		-C debian/tmp modules

install/ndiswrapper-utils-1.9::
	install -D -m755 utils/loadndisdriver \
		debian/ndiswrapper-utils-1.9/sbin/loadndisdriver-1.9
	install -D -m755 utils/ndiswrapper \
		debian/ndiswrapper-utils-1.9/usr/sbin/ndiswrapper-1.9
	install -D -m644 loadndisdriver.8 \
		debian/ndiswrapper-utils-1.9/usr/share/man/man8/loadndisdriver-1.9.8
	install -D -m644 ndiswrapper.8 \
		debian/ndiswrapper-utils-1.9/usr/share/man/man8/ndiswrapper-1.9.8

get-orig-source:
	@test -d ../tarballs || mkdir -p ../tarballs
	@wget -Nc -T10 -O ../tarballs/ndiswrapper_$(UVERS).orig.tar.gz \
		http://optusnet.dl.sourceforge.net/sourceforge/ndiswrapper/ndiswrapper-$(UVERS).tar.gz
